# C/C++ compiled files
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.gch
*.out

# Windows executables
*.exe
*.ilk
*.pdb

# Compiled executables from your labs (Mac/Linux)
Lab1/lab-q1
lab-q1

# Common IDE / Build system folders
.vscode/
cmake-build-debug/
build/
.idea/